:root{
    --main-width: 840px;

    --nav-background-color: darkblue;
    --nav-color: white;
    
    --color-title-general:darkblue;

    --aside-background-color:rgb(214, 209, 209);

}

main {
    max-width: var(--main-width);
}

nav {
    background-color: var(--nav-background-color);
    padding: 10px;
}

nav a{
    color: var(--nav-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--color-title-general);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside{
    width: 20rem;
    background-color: var(--aside-background-color);
    color: #333;
    text-align: center;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;

}

aside h2{
    color: var(--color-title-general);
}

aside img{
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    
}
 
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

